
<div class="app-maze">

  <div class="app-header">
    <div class="app-logo">
      <img src="assets/logo.png" alt="" />
    </div>
    <div class="app-extras">
      <span class="extra">
        Moves: <span class="serif">{{mazeData.meta.moves}}</span>
      </span>
      <span class="extra">
        Points: <span class="serif">{{mazeData.meta.points}}</span>
      </span>
      <span class="extra">
        <a href="">Restart Game</a>
      </span>
    </div>
  </div>

  <div class="app-maze-game">
    <div class="app-maze-grid"
         [ngStyle]="{'grid-template-columns':'repeat('+columns+',1fr)', 'width.px': (columns*cellSize) }"
         keypress [omitInputElements]="true" (keypressEmit)="handleKeypress($event)"
    >
    <ng-container *ngFor="let r of mazeData.rows">
      <ng-container *ngFor="let b of mazeData.blocks">
        <ng-container *ngIf="r===b.row">
        <div class="grid-block">
          <ng-container *ngIf="b.element && b.element.assetUrl">
            <img [src]="b.element.assetUrl" class="grid-image" alt="[*]"
                 [ngClass]="{'flip-horizontally':b.element.type=='player'&&lastKeyPressed==='ArrowRight'}" />
          </ng-container>
        </div>
        </ng-container>
      </ng-container>
    </ng-container>
    </div>
    <ng-container *ngIf="gameStatus==='ended'">
      <div class="app-maze-message">
        <h2>Congratulations!</h2>
        <span>You have completed the game in <span class="serif">{{mazeData.meta.moves}}</span> moves.</span>
      </div>
    </ng-container>
  </div>

  <!-- DEBUG -- >
  <pre>
    {{mazeData|json}}
  </pre>
  <!-- -->

</div>
